
<div class="dark-bg state2" ng-swipe-right="prev()" ng-swipe-left="next()">
    <header>
      <h2>Who are you?</h2>
    </header>
    <div>
      <form ng-submit="submitRegistration($event)"  name="registerForm" novalidate >
        <div class="body">
          <input ng-model="colonist.name" ng-change="change()" name="name "type="text" placeholder="Name" ng-minlength="2" required ng-class="{'notvalid': invalidName}"/>
          <input ng-model="colonist.age" ng-change="change()" name="age" type="number" placeholder="Age" required ng-class="{'notvalid': invalidAge}"/>
<!-- doi invalid.... vao trong ham ng-change  -->
          <div class="select-wrap">
            <select ng-model="colonist.job_id" ng-change="change()" name="occupation" required ng-class="{'notvalid': invalidOcc}" placeholder="Select Occupation" ng-class="{'placeholder':colonist.job_id}">
                <option value="" class="placeholder">Select occupation</option>
                <option value="{{job.id}}"ng-repeat="job in jobs">{{job.name}}
                </option>
            </select>
          </div>
        </div>
        <div class="submit-footer">
          <button type="submit">Check In</button>
      </div>
      </form>
    </div>
</div>
